html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-color);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--second-color);
  padding: 15px 40px;
  background-color: var(--dark-color);
  color: var(--text-color);
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-line{
  width: 2px;
  height: 50px;
  background-color: #1A8CF7;
  margin: 0 0 0 25px
}
nav div{
  display: flex;
  align-items: center;
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  /* text-transform: uppercase; */
  display: inline;
  align-items: center;
}
.signat a{
  margin: 0 20px;
}
nav ul li{
  display: inline;
  align-items: center;
  color: #3C3C3B;
}
nav img{
  width: 150px;
  display: inline;
}